<mat-toolbar color="accent">
    <mat-toolbar-row>
      <button mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
      <h1> Peer Review System</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button *ngIf="this.userType == 'Teacher'"   [routerLink]="'/course'"> Courses </a>
        <a mat-button *ngIf="this.userType == 'Teacher'"  [routerLink]="'/template'"> Peer review templates </a>
        <a mat-button *ngIf="this.userType == 'Student'" [routerLink]="'/student/courses'"> Enrolled Modules </a>
        <a mat-button (click)="logout()"> Log out </a>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>