<h2> Edit Template</h2>
<label for="fname">Name</label><br>
<input type="text" #name><br>
<label for="lname">Description </label><br>
<input type="text" #description >
<br /> 
<br />
<select  #format>
    <option value="0">Formative (Not Graded)</option>
    <option value="1">Summative (Graded)</option>
    </select>
    <br /> 
    <br />
<button class="btn btn-primary" id="yes" (click)="confirm(name.value,description.value,format.value)" style="margin-right:3%">
    Save
</button>

<button class="btn btn-primary" id="yes" (click)="cancel()" >
    Cancel
</button>



