
<mat-card class="example-card" style="margin-top: 3%;">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Enrolled Modules</mat-card-title>
    <mat-card-subtitle>
      <h3>
       This page consists all the enrolled modules <br >
      </h3>
    </mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
  </mat-card-content>
  </mat-card>
<mat-divider vertical style="height:30px"></mat-divider>
<div *ngFor="let card of this.enrolledCourses">

<mat-card class="example-card" >
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Module : {{setCourseName(card.CourseID)}}</mat-card-title>
    <mat-card-subtitle>
        <a routerLink="/student/assignment"[state]="{
            'CourseID':card.CourseID ,
            'Name':setCourseName(card.CourseID)
            }" >View Assignments</a>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <p>
        Credits : {{setCredits(card.CourseID)}}
      </p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    
  </mat-card-content>
  <mat-card-actions>
    <i class="material-icons">assignment</i>
    <i class="material-icons">assessment</i>
  </mat-card-actions>
</mat-card>
<mat-divider vertical style="height:30px"></mat-divider>
</div>
