
<div class="example-card">
    <h1 class="md-display-3">Dashboard</h1>
    <h2 class="md-display-3">This Page consists of all the enrolled modules. <br >
    Click on View Assignments for viewing and submitting Assignments and its respective peer review before the deadline.
    </h2>
</div>
<mat-divider vertical style="height:30px"></mat-divider>
<mat-card class="example-card" *ngFor="let card of this.enrolledCourses">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Module : {{setCourseName(card.CourseID)}}</mat-card-title>
    <mat-card-subtitle>
        <a routerLink="/student/assignment"[state]="{
            'CourseID':card.CourseID
            }" >View Assignments</a>
    </mat-card-subtitle>
    <mat-card-subtitle>
      <p>
        Credits : {{setCredits(card.CourseID)}}
      </p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    
  </mat-card-content>
  <mat-card-actions>
    <i class="material-icons">assignment</i>
    <i class="material-icons">assessment</i>
  </mat-card-actions>
</mat-card>

