
<mat-grid-list  cols="2" rowHeight="2:1" >
    <h2>
        Dashboard
    </h2>
    <mat-grid-tile *ngFor="let course of this.enrolledCourses"  >
     <mat-card style="width: 100%;">
       
      <mat-card-header>
          <mat-card-title>Course Name {{this.setCourseName(course.CourseID)}}</mat-card-title>
          <mat-card-subtitle> <a routerLink="/student/assignment"[state]="{
            'CourseID':course.CourseID
            }" >Click to view Assignments</a></mat-card-subtitle>
      </mat-card-header>
        
     </mat-card>
    </mat-grid-tile>
</mat-grid-list>
