


<div class="example-form" style="background-color: black; color: white; margin: 10%;">  
   
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Assignment Name</mat-label>
        <input #Assignment matInput value="{{this.state.TaskName}}">
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> Explaination</mat-label>
        <input #Explaination matInput value="{{this.state.Explaination}}">
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label> Weightage</mat-label>
        <input #Weightage matInput type="number" min="1" max="80" value="{{this.state.Weightage}}">
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Submission Date</mat-label>
        <input #submission matInput [matDatepicker]="picker1" [value]="this.state.SubmissionDate">
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Peer Review Date</mat-label>
        <input #Review matInput [matDatepicker]="picker2" [value]="this.state.PeerReviewDate" >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>{{this.getTemplateByID(this.state.TemplateID)}}</mat-label>
        <mat-select  #temp>
          <mat-option *ngFor="let item of Templates let i = index" [value]="Templates[i].ID" >{{Templates[i].Name}}</mat-option>
          
        </mat-select>
      </mat-form-field>
      <br />
      <button (click)="onClickSubmit(Assignment.value,Explaination.value,Weightage.value,submission.value,Review.value,temp.value)" mat-flat-button color="accent">Save</button>
</div>