
<button mat-stroked-button (click)="openPopUp()" >Add Course</button>
<mat-grid-list  cols="2" rowHeight="3:1.2" >
    <mat-grid-tile *ngFor="let course of allCourses"  >
     <mat-card style="width: 100%;">
       
      <mat-card-header>
          <mat-card-title>{{course.CourseName}}</mat-card-title>
          <mat-card-subtitle>{{commonfunction.calculateDiff(course.CreationDate )}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content><p> {{course.Credits}} Credits</p></mat-card-content>
      <mat-card-footer>
        <mat-card-content *ngIf="!course.hasAssignment">
          <a routerLink="/assignment" [state]="course" >
            <button mat-stroked-button> Add New Assignment</button>
          </a> 
        </mat-card-content>

        <mat-card-content>
          <a routerLink="/addStudents" [state]="course">
            <button mat-stroked-button> Manage Students </button>
          </a> 
        </mat-card-content>
        
          <button mat-stroked-button (click)="editCourse(course)">Edit</button>
        
          <button mat-stroked-button (click)="deleteCourse(course)">Delete</button>
       
        <mat-card-content *ngIf="course.hasAssignment">
          <a routerLink="/create/assignment" [state]="course" >
            <button mat-stroked-button> Add New Assignment</button>
          </a>  
        </mat-card-content>
  
      </mat-card-footer>
      
     </mat-card>
    </mat-grid-tile>
</mat-grid-list>
