<div class="login-wrapper">
  <h2>
   
    </h2>
    <mat-card class="box">
      <mat-card-header>
        <mat-card-title style="text-align: center;"> Peer Code Review System
          Log In</mat-card-title>
      </mat-card-header>

      <div style="text-align: center;">
        <i class="material-icons">lock</i>
      </div> 
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput  required  #username placeholder="Username">
          </mat-form-field>
          <br />
          <mat-form-field class="example-full-width">
            <input matInput required type="password" #password placeholder="Password">
          </mat-form-field>
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block" (click)="login(username.value,password.value)">Log in</button>
        <button mat-stroked-button color="accent" class="btn-block" (click)="handlePasswordForgot()">Forgot Password</button>
    </mat-card>
  </div>



  