
<mat-divider vertical style="height:30px"></mat-divider>
<mat-card class="example-card" style="width: 88%;left: 3%;">
<h2>
  Templates
</h2>
  <h4>
    This page displays all the Templates.  <br>
    It provides a structure for the peer review assessment. <br>
    Existing questions or new questions can be created by clicking on the template name.
  </h4>

  <button mat-stroked-button (click)="openPopUp()" >Add Template</button>

</mat-card> 
<mat-divider vertical style="height:30px"></mat-divider>

<!-- <i class="material-icons" (click)="openPopUp()">add</i> -->
<div >

<table mat-table [dataSource]="dataSource" style="width: 88%;margin-left:3%;">
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> <a routerLink="/questionare" [state]="element" >{{element.Name }} </a></td>
    </ng-container>
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.Description }} </td>
    </ng-container>
    <ng-container matColumnDef="TemplateType">
      <th mat-header-cell *matHeaderCellDef> TemplateType </th>
      <td mat-cell *matCellDef="let element"> {{this.setTemplate(element.TemplateType) }} </td>
    </ng-container>
    <ng-container matColumnDef="CreationDate">
      <th mat-header-cell *matHeaderCellDef> Last Updated </th>
      <td mat-cell *matCellDef="let element"> {{this.commonfunction.calculateDiff(element.CreationDate )}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"><i class="material-icons" (click)="editTemplate(element)" >edit</i>
    </ng-container>

    <ng-container matColumnDef="del">
        <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"><i class="material-icons" (click)="deleteTemplate(element)">delete</i>
    </ng-container> 
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

  
