
<button mat-stroked-button (click)="openPopUp()" >Add Template</button>
<!-- <i class="material-icons" (click)="openPopUp()">add</i> -->
<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
    </ng-container>  
    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> <a routerLink="/questionare" [state]="element" >{{element.Name }} </a></td>
    </ng-container>
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.Description }} </td>
    </ng-container>
    <ng-container matColumnDef="TemplateType">
      <th mat-header-cell *matHeaderCellDef> TemplateType </th>
      <td mat-cell *matCellDef="let element"> {{this.setTemplate(element.TemplateType) }} </td>
    </ng-container>
    <ng-container matColumnDef="CreationDate">
      <th mat-header-cell *matHeaderCellDef> Last Updated </th>
      <td mat-cell *matCellDef="let element"> {{this.commonfunction.calculateDiff(element.CreationDate )}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"><i class="material-icons" (click)="editTemplate(element)" >edit</i>
    </ng-container>

    <ng-container matColumnDef="del">
        <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"><i class="material-icons" (click)="deleteTemplate(element)">delete</i>
    </ng-container> 
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>


  
