<button mat-stroked-button routerLink="/create/assignment" [state]="{
    'CourseID':this.state.ID
    }">
Add Assignment
</button>
<mat-grid-list  cols="2" rowHeight="2:1" >
    <mat-grid-tile *ngFor="let ass of allAssignments"  >
     <mat-card>
       
      <mat-card-header>
          <mat-card-title>{{ass.TaskName}}</mat-card-title>
          <mat-card-subtitle>{{commonfunction.calculateDiff(ass.SubmissionDate )}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content><p> {{ass.Explaination}} </p></mat-card-content>
      <mat-card-content><p> Weightage:- {{ass.Weightage}} percent</p></mat-card-content>
    
        <i class="material-icons" routerLink="/create/assignment" [state]="ass" >edit</i>
        <i class="material-icons" (click)="deleteAssignment(ass)">delete</i>
        <mat-card-footer>  
    </mat-card-footer>
      
     </mat-card>
    </mat-grid-tile>
</mat-grid-list>
