<div class="example-card">
  <h1 class="md-display-3">Dashboard</h1>
  <h2 class="md-display-3">This Page consists of all the pending Assignments. <br >
    For each of the assignment, you can submit or peer review before the deadline.
  </h2>
</div>
<mat-divider vertical style="height:30px"></mat-divider>

<mat-card class="example-card" *ngFor="let ass of this.allAssignments">
<mat-card-header>
  <div mat-card-avatar class="example-header-image"></div>
  <mat-card-title>Assignment Name : {{ass.TaskName}}</mat-card-title>
  <mat-card-subtitle>
    {{ass.Explaination}}
  </mat-card-subtitle>
  <mat-card-subtitle>
    <p>
      Weightage:- {{ass.Weightage}} percent
    </p>
  </mat-card-subtitle>

</mat-card-header>
<button mat-raised-button color="accent" style="left:4%;">
  <mat-icon>assignment</mat-icon>
  <a routerLink="/student/submission" [state]="ass" >
    Submit
  </a>
</button>

<button mat-raised-button color="accent" style="left:5%;">
  <mat-icon>work</mat-icon>
  <a routerLink="/student/peer/review" [state]="ass" >
    Peer Review
  </a>
</button>

<mat-card-content>
  
</mat-card-content>
<mat-card-actions class="example-card">
  <span style="color:red">{{commonfunction.calculateTimeDiff(ass.SubmissionDate )}} Left for submission</span>
</mat-card-actions>
</mat-card>
