<div class="login-wrapper">
    <h2>
     
      </h2>
      <mat-card class="box">
        <mat-card-header>
          <mat-card-title> Peer Code Review System
           Reset Password</mat-card-title>
        </mat-card-header>
          <mat-card-content>
            <mat-form-field class="example-full-width">
              <input matInput  required  #username placeholder="Student ID">
            </mat-form-field>
            <br />
          </mat-card-content>
          
          
          <div style="text-align: center;">
            <i class="material-icons">mail</i>
          </div>   
          <button mat-stroked-button color="accent" class="btn-block" (click)="sendEmail(username.value)">Reset Password</button>
      </mat-card>
    </div>
  
  
  
    