
<mat-divider vertical style="height:30px"></mat-divider>
<mat-card class="example-card" style="width: 88%;left: 3%;">
  <h2>
    Questionare for {{this.state.Name}}
  </h2>
    <h4>
      This page displays all the Questions.  <br>
      It provides a structure for the peer review assessment. <br>
      Existing questions or new questions can be created by clicking on the template name.
    </h4>
  <button mat-stroked-button (click)="openPopUp()" >Add Question</button>
</mat-card>
<mat-divider vertical style="height:30px"></mat-divider>

<!-- <i class="material-icons" (click)="openPopUp()">add</i> -->
<div style="margin-left: 3%;">
<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="Question">
      <th mat-header-cell *matHeaderCellDef> Question </th>
      <td mat-cell *matCellDef="let element"> {{element.Question }} </td>
    </ng-container>
    <ng-container matColumnDef="Sequence">
      <th mat-header-cell *matHeaderCellDef> Sequence </th>
      <td mat-cell *matCellDef="let element"> {{element.Sequence }} </td>
    </ng-container>
    <ng-container matColumnDef="CreationDate">
      <th mat-header-cell *matHeaderCellDef> Last Updated </th>
      <td mat-cell *matCellDef="let element"> {{commonfunction.calculateDiff(element.CreationDate )}}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element"><i class="material-icons" (click)="editTemplate(element)" >edit</i>
    </ng-container>

    <ng-container matColumnDef="del">
        <th mat-header-cell *matHeaderCellDef>  </th>
          <td mat-cell *matCellDef="let element"><i class="material-icons" (click)="deleteTemplate(element)">delete</i>
    </ng-container> 
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>

  
